~$*.xls*
*.png
/.eggs/
/env/
/.coverage
**/*.egg-info
.vscode

__pycache__/

.git/
.project      
.pydevproject
.idea/
.settings/
libs/
docs/build/
evaluation/*.txt
src/plix/logfile.log
src/plix/main.py
/example/data/plix.log
plix.log
/evaluation/data/om-2.0.rdf
